# (Data Science Tools and Ecosystem)

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>pandas</li>
<li>numpy</li>
<li>Matplotlib</li>
</ol>

<table style="width:20%">
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>Jupyter Notebook</td>
</tr>

<tr>
<td>RStudio</td>
</tr>
<tr>
<td>PyCharm</td>
</tr>
</table>


<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>
3+1=4<br>
3-1=2<br>
3*1=3<br>
3\1=3<br>

In [22]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [23]:
#This will convert 200 minutes to hours by diving by 60
minutes =200
hours = minutes / 60
print("minutes =200")
print("hours=", hours)

minutes =200
hours= 3.3333333333333335

<h4>Objectives:</h4>
<ul>
<li>Create a Jupyter Notebook
</li>
<li>Insert code and markdown cells
</li>
<li>Share your notebook through GitHub</li>
</ul>

<h2>Author</h2>
Thikraa Alharethi